<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neverlost.ubc.neverlost">

    <!--
        =======================================================================================
        ACCESS_COARSE/FINE_LOCATION permissions are used for accessing the phone's GPS/Location
        =======================================================================================
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
            ========================================================================================
            The API key for Google Maps-based APIs is defined in "res/values/google_maps_api.xml.
            Note that the API key is linked to the encryption key used to sign the APK.

            You need a different API key for each encryption key, including the release key that
            is used to sign the APK for publishing.

            You can define the keys for the debug and release targets in src/debug/ and src/release/
            ========================================================================================
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--
            ========================================================================================
            Set custom default icon. This is used when no icon is set for incoming notifications.
            ========================================================================================

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        -->
        <!--
            ========================================================================================
            Set color used with incoming notifications; used when no color is set.
            ========================================================================================
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <!--
            ========================================================================================
            Allow us to receive notifications in the foreground, data payload, and to send upstream
            messages back up to the server, etc...
            ========================================================================================
        -->
        <service android:name=".firebase.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
            ========================================================================================
            Handle creation, rotation, and updating of registration tokens for firebase to send to
            specific devices or making device groups.
            ========================================================================================
        -->
        <service android:name=".firebase.InstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.PrecheckActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".HealthMonitorActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


    </application>

</manifest>